@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url(http://fonts.googleapis.com/css?family=Bangers);


	html, body, div, h1, p, a, img, ul, li, figure, footer, header, nav {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	figure, footer, header, nav {display: block;}
	ul {list-style: none;}
	body {-webkit-text-size-adjust: none;}

	@media screen and (min-width: 961px) and (max-width: 1880px) {
	    .container.\31 25\25 {
	        width: 100%;
	        max-width: 1500px;
	        min-width: 1200px;
	    }
	    .container.\37 5\25 {
	        width: 900px;
	    }
	    .container.\35 0\25 {
	        width: 600px;
	    }
	    .container.\32 5\25 {
	        width: 300px;
	    }
	    .container {
	        width: 1200px;
	    }
	}

	@media screen and (min-width: 961px) and (max-width: 1620px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1200px;
			min-width: 960px;
		}

		.container.\37 5\25 {
			width: 720px;
		}

		.container.\35 0\25 {
			width: 480px;
		}

		.container.\32 5\25 {
			width: 240px;
		}

		.container {
			width: 960px;
		}

	}

	@media screen and (min-width: 961px) and (max-width: 1320px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100%;
		}

	}

	@media screen and (max-width: 960px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100%;
		}

	}

	@media screen and (max-width: 736px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100% !important;
		}

	}
	.\31 2u, .\31 2u\24 {width: 100%; clear: none; margin-left: 0;}
	.\31 1u, .\31 1u\24 {width: 91.6666666667%; clear: none; margin-left: 0;}
	.\31 0u, .\31 0u\24 {width: 83.3333333333%; clear: none; margin-left: 0;}
	.\39 u, .\39 u\24 {width: 75%; clear: none; margin-left: 0;}
	.\38 u, .\38 u\24 {width: 66.6666666667%; clear: none; margin-left: 0;}
	.\37 u, .\37 u\24 {width: 58.3333333333%; clear: none; margin-left: 0;}
	.\36 u, .\36 u\24 {width: 50%;	clear: none; margin-left: 0;}
	.\35 u, .\35 u\24 {width: 41.6666666667%; clear: none; margin-left: 0;}
	.\34 u, .\34 u\24 {width: 33.3333333333%; clear: none; margin-left: 0;}
	.\33 u, .\33 u\24 {width: 25%; clear: none; margin-left: 0;}
	.\32 u, .\32 u\24 {width: 16.6666666667%; clear: none; margin-left: 0;}
	.\31 u, .\31 u\24 {width: 8.3333333333%; clear: none; margin-left: 0;}
	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
	    clear: left;
	}
	.\-11u {margin-left: 91.66667%;}
	.\-10u {margin-left: 83.33333%;}
	.\-9u {margin-left: 75%;}
	.\-8u {margin-left: 66.66667%;}
    .\-7u {margin-left: 58.33333%;}
	.\-6u {margin-left: 50%;}
	.\-5u {margin-left: 41.66667%;}
	.\-4u {margin-left: 33.33333%;}
	.\-3u {margin-left: 25%;}
	.\-2u {margin-left: 16.66667%;}
	.\-1u {margin-left: 8.33333%;}

	body {
		background: #fff;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 19pt;
		font-weight: 300;
		line-height: 1.75em;
		color: #888;
	}

h1 {font-weight: 300; color: #666; line-height: 1.5em;}
h1 a {color: inherit; text-decoration: none;}
header {margin: 0 0 2em 0;}
header > p {margin: 1em 0 0 0;}
footer {margin: 2em 0 0 0;}
a {
    text-decoration: none;
    color: inherit;
    border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
    -moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    outline: 0;
}
a:hover {color: #41d6c3; border-bottom-color: rgba(255, 255, 255, 0);}
p, ul {margin-bottom: 2em;}

.image {display: inline-block; border: 0;}
.image img {display: block; width: 100%;}
.image.avatar48 {width: 48px; height: 48px;}
.image.avatar48 img {width: 48px; height: 48px;}
.image.fit {display: block; width: 100%;}
.image.featured {display: block; width: 100%; margin: 0 0 2em 0;}
.image.left {float: left; margin: 0 2em 2em 0;}
.image.centered {display: block; margin: 0 0 2em 0;}
.image.centered img {margin: 0 auto; width: auto;}

ul.default {list-style: disc; padding-left: 1em;}
ul.default li {padding-left: 0.5em;}
ul.icons {cursor: default;}
ul.icons li {display: inline-block;}
ul.icons a {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border: 0;
}

.icon {text-decoration: none;}
.icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon > .label {display: none;}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 375px;
    height: 100%;
    color: #fff;
    background: #222629 url("images/overlay.png");
    box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
    text-align: right;
}

#header .top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#header .bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#header .icons {
    font-size: 0.8em;
    margin: 0 0 1em 0;
    text-align: center;
}

#header .icons a {
    color: #41484c;
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
}

#header .icons a:hover {
    color: #fff;
}

#logo {
    position: relative;
    margin: 1.75em 1.5em 1.5em 1.5em;
    min-height: 48px;
    cursor: default;
}

#logo h1 {
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
    font-family: "Bangers", sans-serif;
    letter-spacing: 2px;
}

#logo p {
    position: relative;
    display: block;
    font-size: 0.6em;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.25em;
    margin: 0.5em 0 0 0;
}

#logo .image {
    position: absolute;
    left: 0;
    top: 0;
}

#nav ul li a {
    display: block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    outline: 0;
    border: 0;
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
}

#nav ul li a span {
    position: relative;
    display: block;
    font-size: 0.8em;
}

#nav ul li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 1.25em;
    line-height: 1.75em;
}

#nav ul li a.active {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
    color: #fff;
}

#nav ul li a.active span:before {
    color: #41d6c3;
}

#footer {
    margin-left: 375px;
    text-align: center;
    background-color: #dce3e2;
    padding: 3em 0 4em 0;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
    font-size: 0.8em;
}

#footer .copyright {
    cursor: default;
    margin: 0;
}

#footer .copyright li {
    display: inline-block;
    line-height: 1em;
    border-left: solid 1px rgba(128, 128, 128, 0.35);
    padding: 0 0 0 0.5em;
    margin: 0 0 0 0.5em;
}

#footer .copyright li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

	@media screen and (min-width: 961px) and (max-width: 1880px) {
	    body {font-size: 17pt;}
	    #header {width: 300px;}
	    #footer {margin-left: 300px;}
	    #main {margin-left: 300px;}
	}

/* Narrow */

	@media screen and (min-width: 961px) and (max-width: 1320px) {
	    body {
	        font-size: 16pt;
	    }
	    .container {
	        padding: 0 2em 0 2em;
	    }
	    ul.icons li a {
	        width: 1.75em;
	    }
	    #header {
	        width: 20%;
	    }
	    #logo .image {
	        position: relative;
	        margin: 0 0 0.5em 0;
	    }
	    #nav ul li a {
	        font-size: 0.8em;
	        padding-top: 0.5em;
	        padding-bottom: 0.5em;
	    }
	    #nav ul li a span {
	        padding-right: 2.25em;
	    }
	    #nav ul li a span:before {
	        left: 100%;
	        margin-left: -1.25em;
	        line-height: 2.25em;
	    }
	    #footer {
	        margin-left: 20%;
	    }
	}

	@media screen and (max-width: 960px) {
    html,
    body {
        overflow-x: hidden;
    }
    body,
    {
        font-size: 16pt;
    }
    ul.icons a {
        width: 1.75em;
        font-size: 1.25em;
    }
    #header {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translateX(-275px);
        -webkit-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
        transform: translateX(-275px);
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 275px;
        z-index: 10002;
        width: 275px;
        background: #222729 url("images/overlay.png");
        box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.125);
    }
    #header .top {
        position: relative;
    }
    #header .bottom {
        border-top: solid 1px rgba(255, 255, 255, 0.05);
        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15);
        padding-top: 2em;
        margin-top: 1em;
        position: relative;
    }
    #logo {
        margin: 1.5em 1.25em 1.25em 1.25em;
    }
    #nav ul li a {
        padding: 0.5em 1.25em 0.5em 1.25em;
    }
    #headerToggle {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 2.25em;
        left: 0;
        position: fixed;
        top: 0;
        width: 3.25em;
        z-index: 10001;
    }
    #headerToggle .toggle {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        outline: 0;
        border: 0;
    }
    #headerToggle .toggle:before {
        font-family: FontAwesome;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\f0c9';
        color: #fff;
        font-size: 18px;
        line-height: 2.25em;
        background: rgba(128, 136, 144, 0.5);
        border-radius: 0.35em;
        text-align: center;
        position: absolute;
        left: 0.5em;
        top: 0.5em;
        display: block;
        width: 3.25em;
        height: 2.25em;
        line-height: 2.25em;
    }
    body.header-visible #main {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }
    body.header-visible #headerToggle {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }
    body.header-visible #header {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    #footer {
        margin-left: 0;
    }
    #main {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        padding-bottom: 1px;
        margin-left: 0;
    }
    #main > section {
        padding: 3em 0;
    }
    #main section.cover {
        padding: 4em 0;
    }
}

	@media screen and (max-width: 736px) {
	    body,
	    input,
	    textarea,
	    select {
	        font-size: 14pt;
	    }
	    h2 {
	        font-size: 1.5em;
	        letter-spacing: 0;
	        font-weight: 300;
	    }
	    .container {
	        padding: 0 15px 0 15px;
	    }
	    ul.icons a {
	        width: 1.75em;
	        font-size: 1.5em;
	    }
	    #main > section {
	        padding: 2em 0;
	    }
	    #main section.cover {
	        padding: 4em 0em;
	    }
	    #main section.cover header {
	        padding: 0 1em;
	    }
	    #footer .copyright li {
	        display: block;
	        line-height: 1.25em;
	        border: 0;
	        padding: 0;
	        margin: 1em 0 0 0;
	    }
	    #footer .copyright li:first-child {
	        margin-top: 0;
	    }
	}